.banner_img {
  width: 100vw;
  height: 100vh;
  -webkit-mask-image: linear-gradient(180deg, black, transparent);
  z-index: -1;
  margin-bottom: -150px !important;
}

.carasousel {
  margin-top: 10;
}

.banner_part .css-ohwg9z {
  margin-bottom: -150px !important;
}

.banner_part .css-hn784z,
.css-1abc02a {
  height: 50% !important;
}

.banner_part .css-i4bv87-MuiSvgIcon-root {
  font-size: 6rem !important;
  margin-left: -30px !important;
}

.banner_part .css-1abc02a .MuiSvgIcon-root {
  margin-right: -30px !important;
}

@media (max-width: 768px) {
  .banner_img {
    object-fit: cover;
    height: 180px;
  }
}