.home_section {
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgb(199, 199, 199);
    margin-bottom: 10px;
}

.category_card {
    z-index: 1;
    margin: 0 0.5rem;
    padding: 0 5px !important;
}

.card-body a, .card-body p {
    font-size: 12px !important;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.card-body h5 {
    font-weight: 700;
}

@media only screen and (min-width: 1220px) {
    .category_card {
        width: 380px !important;
    }
}

@media only screen and (min-width: 1525px) {
    .category_card {
        width: 350px !important;
    }
}